<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC-Ujgrb78a4Ra1O9Z1LTVFP8jlu8GZxs0</string>
	<key>GCM_SENDER_ID</key>
	<string>98570020825</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rumiRoomapp</string>
	<key>PROJECT_ID</key>
	<string>rumi-app-ff81f</string>
	<key>STORAGE_BUCKET</key>
	<string>rumi-app-ff81f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:98570020825:ios:eecabd21f02815a1db1bc8</string>
</dict>
</plist>